@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  background-color: #292d3e;
  color: white;
  height: 100%;
}

.element {
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.22),
    rgba(255, 255, 255, 0.1)
  );
}

.element-1,
.element-2 {
  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.17),
    -6px -6px 8px 0 rgba(255, 255, 255, 0.15);
}

#root {
  height: 100%;
}

.grid {
  /* grid-template-columns: "auto auto auto auto auto"; */
  width: 305px;
  height: 240px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  font-size: 35px;
  text-align: center;
  border-width: 5px;
}
